
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Fira Sans', sans-serif;
    font-size: 16px;
}


/* MENU DE NAVEGACION 
=====================================*/

header{
    background-color: #040506;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .logo{
    display: inline-block;
    padding: 10px;
    margin-left: 50px;
}

header .logo img{
    width: 50px;
}

header nav{
    margin-right: 50px;
}

header nav a{
    font-weight: 500;
    color: #dbdbdb;
    text-decoration: none;
    margin: 0 10px;
}

header nav a:hover{
    color: #ffffff;
}

.get-started-content {
    background-image: url("../img/get-started-img1.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 1000px;
    display: flex;
    align-items: center;
}

.get-started-content .get-started{
    display: inline-block;
    background-color: #040506e2;
    margin-left: 100px;

    display: flex;
    flex-direction: column;
    align-items: center;

    padding: 30px 10px; 
    width: 600px;
}


.get-started span{
    color: #dbdbdb;
    font-size: 40px;
    font-weight: 500;
    text-transform: uppercase;
    text-align: center;
    padding: 20px;
}

.get-started a{
    background-color: #e3e3e3;
    color: #040506;
    text-decoration: none;
    display: inline-block;
    border: 2px solid transparent;
    padding: 10px 30px;
    font-size: 26;
    font-weight: 500;
    text-transform: uppercase;
}

.get-started a:hover{
    background-color: transparent;
    color: #e3e3e3;
    border: 2px solid #e3e3e3;
}


/* SECSIÓN DE APRENDE A PROGRAMAR 
========================================*/

.learn-program{
    max-width: 1000px;
    width: 90%;
    margin: auto;
    padding: 20px 0;
}

.learn-program h2{
    text-transform: uppercase;
    font-size: 40px;
    text-align: center;
    font-weight: 700;
    margin: 20px 0;
}

.learn-program p{
    font-family: inherit;
    line-height: 1.6em;
    font-weight: 400;
    font-size: 16px;
    margin: 15px;
}

.learn-program .learn-program-card{
    display: flex;
    justify-content: space-between;
    margin: 70px 0;
}

.learn-program-card .card{
    width: 300px;
    text-align: center;
}

.learn-program-card .card img{
    width: 150px;
}

.learn-program-card .card h3{
    font-size: 24px;
    font-weight: 600;
}

/* REDES SOCIALES 
======================================  */
.social-networks{
    display: flex;
}

.social-networks .youtube, .facebook{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px;
}

.social-networks .youtube{
    background-color: #040506;
}

.social-networks .youtube h2, .facebook h2{
    color: #e3e3e3;
    margin: 30px 0;
    font-size: 30px;
}

.social-networks .youtube h2 a, .social-networks .facebook h2 a{
    text-decoration: none;
    color: #6d6d6d;
}

.social-networks .youtube p, .facebook p{
    color: #e3e3e3;
    font-family: inherit;
    font-size: 20px;
    text-align: center;
    font-weight: 400;
    line-height: 1.6em;
    margin: 20px;
}

.social-networks .facebook{
    background-color: #2f2f2f;
}

.social-networks .btn-social{
    text-decoration: none;
    background-color: #e3e3e3;
    color: #040506;
    display: inline-block;
    padding: 10px 30px;
    border: 2px solid transparent;
    text-transform: uppercase;
}

.social-networks .btn-social:hover{
    background-color: transparent;
    color: #e3e3e3;
    border: 2px solid #e3e3e3;
}

/* TESTIMONIO DE ESTUDIANTES 
======================================*/

.qualification{
    display: flex;
    flex-wrap: wrap;
    width: 90%;
    max-width: 1000px;
    margin: auto;
    justify-content: space-between;
    padding-bottom: 40px;
}

.qualification h2{
    width: 100%;
    margin: 50px 0;
    text-align: center;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 40px;
}

.qualification .card{
    flex: 30%;
    padding: 20px;
    margin: 20px;
    border: 2px solid #040506;
}


/* PIE DE PÁGINA
=================================*/

footer{
    background-color: #040506;
    color: #e3e3e3;
    padding: 40px 0;
}

footer .container{
    display: flex;
    flex-direction: row;
    max-width: 1000px;
    width: 90%;
    margin: auto;
    align-items: center;
    justify-content: space-between;
}
footer .container .rc-logo{
    text-align: center;
}

footer .container .rc-logo img{
    width: 200px;
}
footer .container .rc-logo h1{
    text-transform: uppercase;
    font-size: 50px;
    font-weight: 400;
}

footer .container .about{
    display: flex;
    flex-direction: column;
}

footer .container h2{
    margin: 10px 0;
    text-transform: uppercase;
    font-weight: 500;
}

footer .container a{
    display: inline-block;
    margin: 5px 0;
    text-decoration: none;
    color: #e3e3e3;
    margin-left: 20px;
    font-size: 18px;
}

footer .container a .udemy{
    background-color: #e3e3e3;
    color: #040506;
    border-radius: 3px;
    padding: 1.5px 3px;
}

footer .container a:hover{
    color: #ffffff;
}

footer .container .social-networks{
    display: flex;
    flex-direction: column;
}

footer p{
    text-align: center;
    color: #6d6d6d;
    margin: 20px 0;
}


/*REUTILIZABLES 
======================================*/
.container{
    max-width: 1000px;
    width: 90%;
    margin: auto;
}
/*     PÁGINA DE CURSOS 
===================================*/
.courses-container{
    background-color: #2f2f2f;
    color: #e3e3e3;
    text-align: center;
    padding: 70px 0;
}

.courses-container h2{
    margin: 20px 0;
    font-size: 45px;
}

.courses-container p{
    font-size: 20px;
    margin: 20px 0;
}

.courses{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.col-course{
    width: 30%;
    margin: 10px;
}

.number{
    display: inline-block;
    border: 3px solid #e3e3e3;
    border-radius: 30%;
    padding: 5px 10px;
    font-size: 25px;
    font-weight: bold;
    margin: 15px;
}

.course{
    background-color: #ffffff;
    color: #040506;
    border: 1px solid #040506;
    padding-bottom: 20px;
}
.course img{
    width: 100%;
}

.course p{
    padding: 10px;
    font-size: 16px;
    font-weight: 600;
    margin: 20px 0 0 0;
}

.course .btn{
    background-color: #bdbbbb;
    display: inline-block;
    margin: 10px 0 30px 0;
    padding: 10px 20px;
    text-decoration: none;
    color: #040506;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 12px;
    font-weight: 500;
}


/* PÁGINA DE CURSO
===================================*/
.info-course .header {
    display: flex;
    margin: 70px 0;
}

.info-course .title, .info-course .img{
    width: 50%;
}

.info-course .title h1{
    font-size: 35px;
    margin-bottom: 10px;
    padding: 10px;
}

.info-course .title p{
    font-size: 20px;
    padding: 10px;
    margin-bottom: 20px;
}

.info-course .title a{
    display: inline-block;
    background-color: #040506;
    color: #ffffff;
    text-decoration: none;
    padding: 10px 20px;
    border: 2px solid transparent;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.info-course .title a:hover{
    background-color: transparent;
    color: #040506;
    border: 2px solid #040506;
}

.info-course .img img{
    width: 100%;
}

.info-course .content{
    padding: 70px 0;
}

/* PÁGINA DE TUTORIALES 
=================================== */
.new-tutorial{
    padding: 50px 0;
    background-color: #e3e3e3;
}
.new-tutorial .row{
    display: flex;
    flex-wrap: wrap;
}

.new-tutorial .video, .new-tutorial .description{
    width: 50%;
}

.new-tutorial .video{
    padding: 20px;
}

.new-tutorial .video iframe{
    width: 100%;
    height: 260px;
}

.new-tutorial .description{
    padding: 20px;
}

.new-tutorial .description h2{
    margin: 20px 0;
    font-size: 30px;
}

.new-tutorial .description p{
    font-size: 16px;
    margin: 10px 0;
}

.btn-tutorial {
    padding: 5px 5px;
    color: #2f2f2f;
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
    border-bottom: 2px solid #2f2f2f;
    display: inline-block;
    margin: 10px 0;
}

.btn-tutorial:hover{
    color: #040506;
    border-bottom: 2px solid #040506;
}

.tutorials{
    margin: 50px 0;
}

.tutorials h2{
    margin: 20px 0;
    text-align: center;
    border-bottom: 2px solid #2f2f2f;
    padding: 20px 0;
}

.tutorials .row{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.tutorials .tutorial{
    width: 30%;
    margin: 20px 10px;
    padding: 5px;
}

.tutorial .title{
    margin: 10px 0;
    font-size: 23px;
}

.tutorial .desc{
    text-align: justify;
    margin: 10px 0;
}

/*PÁGINA DE TUTORIAL*/
.tutorial-content{
    margin: 60px 0;
}

.tutorial-content .title{
    text-align: center;
    font-size: 45px;
    margin: 20px 0;
}

.tutorial-content .video{
    padding: 20px;
}
.tutorial-content .video iframe{
    width: 100%;
    height: 540px;
}

.tutorial-content .content{
    padding: 20px;
}



